<body link="#00a5b5" vlink="#00a5b5" alink="#00a5b5">

    <table class=" main contenttable" align="center" style="display:flex;align-items:center;justify-content:center;font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px; width: 100%;">
          <tr>
             <td class="border" style="border-collapse: collapse;border: none;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                <table style="font-weight: normal;border-collapse: collapse;border: 0;margin: 10px;padding: 0;font-family: Arial, sans-serif;">
                   <tr>
                      <td colspan="4" valign="top"  align="center" class="image-section" style="border-collapse: collapse; background-color:#e8ebe9 !important; border: 0; width: 100%; margin: 10px 0;padding: 10px;-webkit-text-size-adjust: none; background-color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff;">
                         <img class="top-image"  src="https://bn-pictures.s3.eu-north-1.amazonaws.com/bn_logo.svg" style="line-height: 1; margin: 0 auto; width: 100px;" alt="Barefoot Nomad">
                      </td>
                   </tr>
                   <tr>
                      <td valign="top" class="side title" style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
                         <table style="max-width: 500px;font-weight: normal;border-collapse: collapse;border: 0;margin-top: 10px;padding: 0;margin-right:10px;font-family: Arial, sans-serif;">
                            <tr>
                               <td class="text" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                               <div align="left" class="mktEditable" id="main_text">
                                     <br>Hello <%= name %>,<br><br>
                                     Welcome to Barefoot Nomad,<br><br>
                                     Please click the button below to verify your email address.<br>
                               </div>
                               </td>
                            </tr>
                            <tr>
                               <td style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">
                                &nbsp;<br>
                               </td>
                            </tr>
                            <tr>
                               <td class="text" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">
                               <div class="mktEditable" id="download_button" style="text-align: center;">
                                  <a style="color:#ffffff; background-color: #ff8300; border: 20px solid #ff8300; border-left: 20px solid #ff8300; border-right: 20px solid #ff8300; border-top: 10px solid #ff8300; border-bottom: 10px solid #ff8300;border-radius: 3px; text-decoration:none;" href="<%= link %>">Verify email address</a>										
                               </div>
                               </td>
                            </tr>
                            <tr>
                                  <td class="text" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                  <div align="cleft" class="mktEditable" id="main_text">
                                        <br>
                                        In case the link has expired try to regenerate a new link <a href="<%= regenerateLink %>">here</a>
                                        <br><br>
                                        If you didn't create an account with Barefoot, you can ignore this email. Please contact support if you have any questions.
                                  </div>
                                  </td>
                               </tr>
                         </table>
                      </td>
                   </tr>
                   <tr>
                      <td style="padding:20px; font-family: Arial, sans-serif; -webkit-text-size-adjust: none;" align="center">
                         <table>
                            <tr>
                               <td align="center" style="font-family: Arial, sans-serif; -webkit-text-size-adjust: none; font-size: 16px;">
                               </td>
                            </tr>
                         </table>
                      </td>
                   </tr>
                   <tr bgcolor="#fff" style="border-top: 4px solid #00a5b5;">
                      <td valign="top" class="footer" style="background-color:#e8ebe9 !important;border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background: #fff;text-align: center;">
                         <table style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                            <tr>
                               <td class="inside-footer" align="left" valign="middle" style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 12px;line-height: 16px;vertical-align: middle;text-align: center;width: 580px;">
    <div id="address" class="mktEditable">
                                  <b>Barefoot Nomad</b><br>
                                7021 NY Boondocks Drive<br>  Suite 500 <br> Iraq, MD 21046<br>
                                <a style="color: #00a5b5;">Contact Us</a>
    </div>
                               </td>
                            </tr>
                         </table>
                      </td>
                   </tr>
                </table>
             </td>
          </tr>
       </table>
      </body>
  